@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p style="margin-top: 20%">
    <h2>
        <b>
            <span style='color: dodgerblue'>F</span>
            <span style='color: purple'>o</span>
            <span style='color: saddlebrown'>o</span>
            <span style='color: teal'>d</span>
            <span style='color: orangered'>F</span>
            <span style='color: mediumorchid'>i</span>
            <span style='color: forestgreen'>n</span>
            <span style='color: darkred'>d</span>
            <span style='color: darkslategray'>e</span>
            <span style='color: goldenrod'>r </span>
        </b>
    </h2>
</p>
<p><img src="~/Image/tescolabs.png" style="float:right; margin-left: 10px; width: auto; height: auto" alt="Tesco Labs Logo" /> </p>

<h3 style="text-align:justify">
    <p>is a price watch web application for Tesco Supermarkets. It saves the prices of any product searched into a price watch list for as long as you wish. </p>
</h3>



