
<center>

    <p style="margin-top: 20%">
        <h2>
            <b>
                <span style='color: dodgerblue'>F</span>
                <span style='color: purple'>o</span>
                <span style='color: saddlebrown'>o</span>
                <span style='color: teal'>d</span>
                <span style='color: orangered'>F</span>
                <span style='color: mediumorchid'>i</span>
                <span style='color: forestgreen'>n</span>
                <span style='color: darkred'>d</span>
                <span style='color: darkslategray'>e</span>
                <span style='color: goldenrod'>r </span>
            </b>
        </h2>
    </p>
    <p>
        <h3>
            <b>

                If you have any queries or suggestions, please contact us on the email below



                <a href="mailto:Info@foodfinder.com">info@foodfinder.com</a><br />



            </b>
        </h3>
    </p>
</center>