@{
    ViewBag.Title = "Home Page";
}
<link href="~/Content/StyleSheet.css" rel="stylesheet" type="text/css" />

<div class="middle">
        <img src="~/Image/FoodfinderIreland.png" alt="foodfinderlogo" />
</div>

<div>
    @using (Html.BeginForm("Get", "Product", FormMethod.Get, new { @class = "form-inline" }))
    {
        <input class="form-control" type="text" style="margin-left:35%" placeholder="Enter your product query" name="query" id="query">
        @Html.Hidden("offset", 0);
        <button type="submit" class="btn btn-primary">Search  <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    }
</div>