body {
}

img {
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}

.foodfinderlarge {
    font-family: Cooper;
    font-size: 7vw;
    margin-left: 15%;
    margin-top: 15%;
    display: block;
}
.form-control{
float:right;
}

.btn *{
float:right;
}




